@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TakeMeowHome.com</h1>
    <img src="https://media.istockphoto.com/id/1359246077/photo/cats-collage.jpg?s=612x612&w=0&k=20&c=sLMawWk7GABC2HyN8uISsW-BQGZ2vN7cUi7GM1IcztU=" alt="A bunch of cats">
</div>
<div style="margin-left:25%">
    <p style="width:70%">This is a digtal storefront dedicated to those seeking a new furry companion to take home.  With the largest selection this ip address has to offer and a passionate staff of eternal loners, crazy cat ladies, and computer nerds, we guarantee you will find nothing less than the coolest cats around!</p>
</div>
<div style="margin-left:40%">
    <img style="width:40%" src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0mTylnqS3YSv1VIsCZoemBUFYnnlASyzdaA&s' alt='cool looking stones in the shape of a cat'>
</div>
<p style="margin-left:20%">Unlike our biggest competition on this side of the internet, Find@Feline.org, we believe in the utility and agency of our animals to choose the life they want to live and seek out ways to contribute to society besides being walking pillows for human satisfaction!</p>
