@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TakeMeowHome.com</h1>
    <img style="margin: 15px 0px 20px 0px;" src="https://media.istockphoto.com/id/1359246077/photo/cats-collage.jpg?s=612x612&w=0&k=20&c=sLMawWk7GABC2HyN8uISsW-BQGZ2vN7cUi7GM1IcztU=" alt="A bunch of cats">
</div>
<p>Welcome to <strong>TakeMeowHome</strong> - your premier digital storefront dedicated to helping you find your next furry companion. With the largest selection available at this IP address, and a team of passionate individuals including eternal loners, crazy cat ladies, and computer nerds, we guarantee that you'll discover nothing less than the coolest cats around!</p>
<p>At <strong>TakeMeowHome</strong>, we're not just another faceless corporation. We're a team of dedicated animal lovers who believe in the agency and utility of our feline friends. Unlike our biggest competitor on this side of the internet, Find@Feline.org, we understand that cats are more than just walking pillows for human satisfaction. They're sentient beings with their own desires and contributions to society.</p>
<div>
    <img style="margin: 15px 0px 20px 280px;" width="400px" height="400px" src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0mTylnqS3YSv1VIsCZoemBUFYnnlASyzdaA&s' alt='cool looking stones in the shape of a cat'>
</div>
<p>We're committed to providing a platform where cats can choose the life they want to live and where you can find a companion who not only brings joy into your life but also enriches theirs. Whether you're a seasoned cat enthusiast or a first-time pet owner, we're here to guide you through the process of finding the perfect match.</p>
<p>So, why settle for anything less? Explore TakeMeowHome today and embark on the journey to finding your purr-fect companion!</p>