@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>We are coming for your cookies!!</h1>

<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/06ddd246-6c9d-43e4-a170-cf8bfa893b62/dgn6i8z-8c44159e-6862-4bcb-949c-a1b154b2619b.jpg/v1/fill/w_894,h_894,q_70,strp/fat_cat_eats_a_cookie_digital_illustration_by_rebelsfantasyworld_dgn6i8z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA2ZGRkMjQ2LTZjOWQtNDNlNC1hMTcwLWNmOGJmYTg5M2I2MlwvZGduNmk4ei04YzQ0MTU5ZS02ODYyLTRiY2ItOTQ5Yy1hMWIxNTRiMjYxOWIuanBnIiwiaGVpZ2h0IjoiPD05MDAiLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLndhdGVybWFyayJdLCJ3bWsiOnsicGF0aCI6Ilwvd21cLzA2ZGRkMjQ2LTZjOWQtNDNlNC1hMTcwLWNmOGJmYTg5M2I2MlwvcmViZWxzZmFudGFzeXdvcmxkLTQucG5nIiwib3BhY2l0eSI6OTUsInByb3BvcnRpb25zIjowLjQ1LCJncmF2aXR5IjoiY2VudGVyIn19.nBeo0RO0cwolhekhTXFAZ5d4BaeYtzHX_ClF9OIH80g"alt="Here is a cute little kitty for your trouble!">
