@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">The About Page for the Project</h1>
    <p>This is the About Page that will tell you<br>&#128512;<strong>everything</strong>&#128512;<br>you need to know about this website and its developers</p>
</div>
<img id="catHug" src="https://i.pinimg.com/564x/35/01/30/35013064f032f1c109f0899b0384eb06.jpg" alt="4 Cats side hugging" />
<div>
    <p>Welcome to TakeMeowHome, your ultimate destination for high-quality and unique feline companions. We take pride in being the premier online platform where cat lovers can discover and acquire their perfect furry friends. At TakeMeowHome, we are guided by a few core principles that define our commitment to you:</p>
    <h2>Easy Navigation</h2>
    <p>We've crafted our website to be a feline paradise, ensuring that your journey to finding your dream cat is as enjoyable and effortless as possible. With intuitive navigation, exploring our diverse selection of cats is a breeze</p>
    <h2>Wide Variety</h2>
    <p>Just like every individual has their own unique personality, we believe every cat is special. That's why we offer a wide variety of breeds, colors, and personalities, so you can find your perfect soul-cat that resonates with you on every level.</p>
    <h2>Quick Ordering</h2>
    <p>We understand the excitement of welcoming a new member into your household. That's why we've streamlined our ordering process to be nearly instant, so you don't have to wait long to bring your newly purchased feline friend home.</p>
    <h2>Attractive Products</h2>
    <p>Our commitment to excellence extends beyond just offering cats. We curate a selection of products that are not only essential for your cat's well-being but also stylish and attractive. From cozy beds to interactive toys, we have everything you need to create a loving and enriching environment for your furry companion.</p>
    <p>TakeMeowHome began as a humble endeavor, fueled by our passion for connecting cats with loving homes. Thanks to amazing individuals like yourself, we've grown into a thriving business that now offers up to eight cats at a time! Each cat you adopt from us not only finds a loving home but also helps prevent them from facing homelessness and starvation.</p>
    <p>So, what are you waiting for? Explore <strong>TakeMeowHome</strong> today and find your <strong>purr-fect</strong> companion before they're gone!</p>
</div>