@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">The About Page for the Project</h1>
    <p>This is the About Page that will tell you<br>&#128512;<strong>everything</strong>&#128512;<br>you need to know about this website and its developers</p>
</div>
<hr>
<div>
    <p>
    <strong>TakeMeowHome</strong> is here to suply the public with high quality and unique cats. 
    There is no better place to search for and purchase such interesting cats. 
    Here at <strong>TakeMeowHome</strong> we focus on on few key ideals for our website: 
    </p>
    <ol>
        <li>Easy navigation through our feline paradise so you can enjoy finding your dream cat.</li>
        <li>A wide variety of cats so you can match up with your perfect soul-cat.</li>
        <li>Nearly instant ordering so you don't have to wait for your newly purchased household member.</li>
        <li>And finally, offering more atractive products than any other website out there.</li>
    </ol>
    <p>
    <strong>TakeMeowHome</strong> started from humble beginnings and through amazing folks like yourselfs, has grown into what a large bussiness it is today. 
    We can now sell up to seven cats! 
    Without people buying these cats they could go homeless and starve, so go find one quick!
    </p>
</div>